/* imports style sheets */
@import "normalize.css";
@import "fonts.css";
@import "Buttons.css";
@import "Cards.css";
@import "NavBars.css";
@import "GridSystem.css";
@import "widths.css";
@import "colors.css";
@import "tags.css";
@import "paddings.css";
@import "margins.css";
@import "backgrounds.css";
@import "style-page.css";
@import "nbar-mobile.css";



/* division */
.division
{
  width: 100%;
}
.subdivision
{
  width: 90%;
  margin: 0 auto;
}
.f-nbar-sticky
{
  position: sticky;
  top: 0;
}
.f-df
{
  display: flex;
}
.f-aic
{
  align-items: center;
}
.f-df-fdr
{
  display: flex;
  flex-direction: row;
}
.f-df-fdc
{
  display: flex;
  flex-direction: column;
}
.f-dnone
{
  display: none;
}
/* mobile-portrait */
@media (max-width: 479px) and (min-width: 320px )
{
.small-subdivision
{
  width: 90%;
  margin: 0 auto;
}
  .f-small-division
  {
    width: 100%;
  }

  .f-small-df-fdc
  {
    display: flex;
    flex-direction: column;
  }
  .f-small-dblock
  {
    display: block;
  }
  .f-small-dnone
  {
    display: none;
  }

}
