.f-logo {
    display: flex;
    width: 3%;
}

.f-logo>img {
    width: 100%;
}
.bg-1
{
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
}
.category {
    width: 20%;
    margin: 0 auto;
}

.category>img {
    width: 100%;
}

.f-br
{
  border-radius: 2%;
}
.f-br4
{
  border-radius: 4%;
}

.f-bshadow{box-shadow: 1px 1px 2px #444;}
.f-bshadow-2{box-shadow: 0px 1px 2px #444;}


.lateral
{
    font-family: 'Roboto';
    font-weight: bold;
    /* border-right: 1px solid #e8e8e8; */
}
nav div > a 
{
    color:var(--cGray);
}

nav > div > a:hover 
{
    color:#fff;
    background-color: var(--cGray);
    /* border-right: 2px solid var(--cGray); */
}
.menu-list
{
    padding: .25rem 1.5rem;
    display: block;
}

a.link-active
{
    color: white !important;
    background-color: var(--cFondo-fresa) !important;
}

/* navvarscrool */
.nscroll
{
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}
.p-content
{
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 1px;
}
.f-sideb
{
    width: 70%;
    margin: 20px 0 0 40px;
    padding: 10px;

}
.footer-box
{
    display: none;
}
/* mobile-portrait */
@media (max-width: 479px) and (min-width: 320px) {
    .f-logo {
        display: flex;
        width: 10%;
    }

    div div.small-category-box:nth-child(1),
    div div.small-category-box:nth-child(2) {
        border-bottom: none;
    }

    .small-category-box {
        padding: 20px;
        background: #fcfcfc;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    .f-small-sideb
    {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .small-footer-box
    {
        display: block;
        border-top: 1px solid #e8e8e8;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08) inset;
        text-align: center;
        font-family: 'Alegreya Sans';
        /* padding: 20px; */
    }
    .small-footer-box > div {
        transform: rotate(34deg);
        width: 13%;
        margin: 20px auto;
    }
    div code div span
    {
        display: block;
    }
    .small-pre
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        max-height: 8vh;
        overflow: auto;
        height: 8vh;
    }

}