.f-w10
{
    width: 10%;
}
.f-w15
{
    width: 15%;
}
.f-w20
{
    width: 20%;
}
.f-w30
{
    width: 30%;
}
.f-w40
{
    width: 40%;
}
.f-w45
{
    width: 45%;
}
.f-w50
{
    width: 50%;
}
.f-w70
{
    width: 70%;
}
.f-w80
{
    width: 80%;
}
.f-w100
{
    width: 100%;
}

/* mobile-portrait */
@media (max-width: 479px) and (min-width: 320px )
{
  
}